@font-face {
    font-family: customFont;
    src: url(/../fonts/StarTrek.ttf);
}


body
{
	font-family: customFont;
	font-weight: bold;
	background-color: #000000;
	font-size: 14px;
	margin: 0px;
	overflow: hidden;
}

#canvas{
    position: absolute;
    left:0;
    top:0
}

#celestialBodyNavigation {
    width: 100%;
    text-align: center;
    position: relative;
}

#celestialBodyNavigation li {
    display: inline-block;
    border: 3px solid yellow;
    background: transparent;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px;
    border-radius: 25px;
}

#celestialBodyNavigation li:hover, .hovered {
    cursor: pointer;
    background: #ffffff !important;
    color: #000000 !important;
}

#infoPanel{
    border: 1px solid #efefef;
    background-color: #000000;
    width: 35%;
    height: 90%;
    display: block;
    /*display: none;*/
    position: relative;
}

#infoPanel table{
    color: #ffffff;
    margin: 10px 10px 10px 15px;
    padding: 5px;
    border-collapse: collapse;
    font-family: Verdana, Geneva, sans-serif;
    border: 0;
}
#infoPanel h1{
    color: #ffffff;
    margin-left: 10px;
}

#infoPanel table td{
    padding: 5px;
}