@font-face {
    font-family: customFont;
    src: url(/../fonts/StarTrek.ttf);
}

body{
	font-family: customFont;
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
	margin:0;
    padding:0;
}

#canvas{
    position: absolute;
    left:0;
    top:0
}

#celestialBodyNavigation {
    width: 100%;
    text-align: center;
    position: relative;
}

#celestialBodyNavigation li {
    display: inline-block;
    border: 3px solid yellow;
    background: transparent;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px;
    border-radius: 25px;
}

#celestialBodyNavigation li:hover, .hovered {
    cursor: pointer;
    background: #ffffff !important;
    color: #000000 !important;
}

#infoPanel{
    margin: 0 0 0 20px;
    padding: 0;
    border: 4px solid #efefef;
    background-color: rgba(0,0,0,0.5);
    width: 35%;
    height: 90%;
    display: block;
    /*display: none;*/
    position: relative;
}

#infoPanel div#Beschreibung{
    color: #f7fffa;
    /*margin: 10px 10px 10px 15px;*/
    padding: 5px;
    border-collapse: collapse;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    border: 0;
    font-weight: normal;
    font-size: 18px;
}

#infoPanel h1{
    margin-top: 0;
    color: #000000;
    padding: 5px;
}

.flipcard {
    position: relative;
    perspective: 500px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display:inline-block;
}

.flipcard.v:hover .front, .flipcard.v.flip .front{
    transform: rotateX(180deg);
}
.flipcard.v:hover .back, .flipcard.v.flip .back{
    transform: rotateX(0deg);
}
.flipcard.v .back{
    transform: rotateX(-180deg);
}
.flipcard.h:hover .front, .flipcard.h.flip .front{
  transform: rotateY(180deg);
}
.flipcard.h:hover .back, .flipcard.h.flip .back{
  transform: rotateY(0deg);
}
.flipcard.h .back{
  transform: rotateY(-180deg);
}
.flipcard .front, .flipcard .back{
  position:absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
  color: white;
  backface-visibility: hidden;
}

.flipcard{
    opacity: 1.0;
}

/* NEW */
html, body {
    margin:0;
    padding:0;
}
#container{
    font-size:0;
    margin:0 auto;
    width:500px;
}

.block {
    font-size:20px;
    margin:25px;
    display:inline-block;
}

/* Media queries for the box container*/
/*@media screen and (max-width: 430px) {#container{width:200px;}}
@media screen and (min-width: 431px) and (max-width: 630px) {#container{width:400px;}}
@media screen and (min-width: 631px) and (max-width: 830px) {#container{width:600px;}}
@media screen and (min-width: 831px) and (max-width: 1030px){#container{width:800px;}}
*/
.block, #infoPanel{
    border: solid 6px #000000;

    /* Radius */
   border:solid 5px #000000;
   -moz-border-radius-topleft: 16px;
   -moz-border-radius-topright:16px;
   -moz-border-radius-bottomleft:16px;
   -moz-border-radius-bottomright:16px;
   -webkit-border-top-left-radius:16px;
   -webkit-border-top-right-radius:16px;
   -webkit-border-bottom-left-radius:16px;
   -webkit-border-bottom-right-radius:16px;
   border-top-left-radius:16px;
   border-top-right-radius:16px;
   border-bottom-left-radius:16px;
   border-bottom-right-radius:16px;

    /* Shadow */
    -moz-box-shadow: 10px 10px 45px #ffffff;
    -webkit-box-shadow: 10px 10px 45px #ffffff;
    box-shadow: 10px 10px 45px #ffffff;
}

#infoPanel{
    /*box-shadow: none;*/
}

.block, .flipcard img{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    width: 100px;
    height: 100px;
}

.flipcard img{
    border: none;
    padding: 10px;
    width: 80px;
    height: 80px;
}

.flipcard .back{
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}